.image {
  width: calc(100% + 2*1.25rem);
  height: 8rem;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: var(--tui-radius-xl);
  border-top-right-radius: var(--tui-radius-xl);
  margin: -1.25rem;
  margin-bottom: 1rem;
}

.tui-island__category {
  margin-bottom: 0;
}
