@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  background-color: rgba(163, 177, 138, 0.05);
}

tui-badge i-tabler {
  width: 18px !important;
  margin-top: 5px !important;
  margin-left: 4px !important;
  margin-right: 5px !important;
}

.btn-primary {
  background-color: $color-primary-bg !important;
  color: white !important;
}
