* {
  box-sizing: border-box;
}

html {
  background-color: rgba(244, 87, 37, 0.02);
}

tui-badge i-tabler {
  width: 18px !important;
  margin-top: 5px !important;
  margin-left: 4px !important;
  margin-right: 5px !important;
}
