@import "src/styles/variables.scss";

.container {
  padding: 0 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tui-neutral-bg);
  border-radius: $border-radius;
  padding: .6rem 1rem;
  min-width: 11rem;
  font-weight: bold;
  margin-bottom: 1.5rem;

  & i-tabler {
    stroke-width: 1.5px;

    &:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }
}

.ingredient {
  padding: .5rem 0;
}
