<tui-loader
  class="inline-flex"
  [showLoader]="loading"
  [inheritColor]="true"
  [overlay]="true">
  <div class="recipe">
    <!-- Recipe -->
    <div *ngIf="recipe && !loading">
      <app-recipe-header [recipe]="recipe"></app-recipe-header>
      <app-recipe-ingredients [recipe]="recipe"></app-recipe-ingredients>
      <app-recipe-steps [recipe]="recipe"></app-recipe-steps>
    </div>

    <!-- Invalid Recipe -->
    <div *ngIf="!recipe && !loading" class="invalid">
      <tui-notification
        *ngIf="initError && initError.reason === 'errors'"
        status="error"
        class="tui-space_top-4">
        [v{{initError.version}}] Invalid recipe<br/>
        <ul>
          <li *ngFor="let error of initError.errors">{{ error }}</li>
        </ul>
      </tui-notification>

      <tui-notification
        *ngIf="initError && initError.reason === 'not-found'"
        status="error"
        class="tui-space_top-4">
        Recipe not found
      </tui-notification>

      <tui-notification
        *ngIf="!initError"
        status="error"
        class="tui-space_top-4">
        Unknown error
      </tui-notification>

      <br/>
      <button
        (click)="backToRecipes()"
        tuiButton
        type="button"
        appearance="primary"
        class="tui-space_right-3 tui-space_bottom-3">
        Back to recipes
      </button>
    </div>
  </div>
</tui-loader>
