@import "src/styles/variables.scss";

.step {
  position: relative;
  margin-bottom: 2rem;

  &::before {
    content: " ";
    border-radius: 50%;
    width: calc(2 * $step-dot-radius);
    height: calc(2 * $step-dot-radius);
    background-color: white;
    border: 1px solid $step-dot-color;
    position: absolute;
    top: 5px;
    left: calc(-#{$step-content-offset});
    transform: translateX(-50%);
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: var(--tui-text-02);
    font-size: 13px;
  }
}
